In [3]:
import pandas as pd
import argparse
import sys
import os
import glob, os
import numpy as np
from biopandas.pdb import PandasPdb


ppdb = PandasPdb()

for cat in glob.glob('/groups/cherkasvgrp/share/progressive_docking/hmslati/protacs/manual_linker_disjoint_propose_docking/crystals/cats/mb_6sis_docked_p_model_xx*pdb'):
    pdb_df=PandasPdb().read_pdb(cat)


    pdb_df.df['ATOM']['x_cord']=pdb_df.df['ATOM'].x_coord.round(0)
    pdb_df.df['ATOM']['y_cord']=pdb_df.df['ATOM'].y_coord.round(0)
    pdb_df.df['ATOM']['z_cord']=pdb_df.df['ATOM'].z_coord.round(0)

    df=list(pdb_df.df['ATOM'][pdb_df.df['ATOM'].duplicated(subset=['x_cord','y_cord','z_cord'], keep="first")].atom_number)

    pdb_df.df['ATOM'] = pdb_df.df['ATOM'][~pdb_df.df['ATOM'].atom_number.isin(df)]
    pdb_df.df['ATOM']=pdb_df.df['ATOM'].drop(columns=['x_cord','y_cord','z_cord'])
    pdb_df.to_pdb(f"/groups/cherkasvgrp/share/progressive_docking/hmslati/protacs/manual_linker_disjoint_propose_docking/crystals/cats/a{cat.split('/')[-1].split('.')[0]}.pdb")

In [ ]:
import pandas as pd
import argparse
import sys
import os
import glob, os
import numpy as np
from biopandas.pdb import PandasPdb


ppdb = PandasPdb()


pdb_df=PandasPdb().read_pdb(str(sys.argv[1]))


pdb_df.df['ATOM']['x_cord']=pdb_df.df['ATOM'].x_coord.round(0)
pdb_df.df['ATOM']['y_cord']=pdb_df.df['ATOM'].y_coord.round(0)
pdb_df.df['ATOM']['z_cord']=pdb_df.df['ATOM'].z_coord.round(0)

df=list(pdb_df.df['ATOM'][pdb_df.df['ATOM'].duplicated(subset=['x_cord','y_cord','z_cord'], keep="first")].atom_number)

pdb_df.df['ATOM'] = pdb_df.df['ATOM'][~pdb_df.df['ATOM'].atom_number.isin(df)]
pdb_df.df['ATOM']=pdb_df.df['ATOM'].drop(columns=['x_cord','y_cord','z_cord'])
pdb_df.to_pdb(f"unclashed_{str(sys.argv[1]).split('.')[0]}.pdb")

In [46]:
pdb_df.df['ATOM']

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx,x_cord,y_cord,z_cord
0,ATOM,1,,N,,PRO,,,1,,...,1.0,0.0,,,N,NaN,0,71.0,9.0,37.0
1,ATOM,2,,CD,,PRO,,,1,,...,1.0,0.0,,,C,NaN,1,71.0,10.0,37.0
2,ATOM,3,,CG,,PRO,,,1,,...,1.0,0.0,,,C,NaN,2,71.0,11.0,36.0
3,ATOM,4,,CB,,PRO,,,1,,...,1.0,0.0,,,C,NaN,3,70.0,10.0,35.0
4,ATOM,5,,CA,,PRO,,,1,,...,1.0,0.0,,,C,NaN,4,70.0,9.0,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6807,ATOM,6809,,HB3,,GLN,,,419,,...,1.0,0.0,,,H,NaN,6807,29.0,-35.0,19.0
6808,ATOM,6810,,HG2,,GLN,,,419,,...,1.0,0.0,,,H,NaN,6808,28.0,-34.0,20.0
6809,ATOM,6811,,HG3,,GLN,,,419,,...,1.0,0.0,,,H,NaN,6809,27.0,-35.0,20.0
6810,ATOM,6812,,HE21,,GLN,,,419,,...,1.0,0.0,,,H,NaN,6810,27.0,-32.0,20.0
6811,ATOM,6813,,HE22,,GLN,,,419,,...,1.0,0.0,,,H,NaN,6811,26.0,-31.0,19.0

In [78]:
df=pdb_df.df['ATOM'][pdb_df.df['ATOM'][['x_cord','y_cord','z_cord']].duplicated() == True]
df=list(pdb_df.df['ATOM'][pdb_df.df['ATOM'].duplicated(subset=['x_cord','y_cord','z_cord'], keep="first")].atom_number)

In [79]:
df

[113,
 121,
 132,
 153,
 165,
 215,
 229,
 256,
 340,
 361,
 653,
 685,
 759,
 817,
 852,
 868,
 872,
 939,
 1018,
 1072,
 1100,
 1154,
 1189,
 1278,
 1289,
 1301,
 1512,
 1613,
 1636,
 1655,
 1671,
 1702,
 1705,
 1722,
 1756,
 1761,
 1945,
 2034,
 2247,
 2250,
 2300,
 2328,
 2362,
 2443,
 2611,
 2640,
 2689,
 2772,
 2839,
 2933,
 2967,
 2970,
 3156,
 3206,
 3283,
 3325,
 3362,
 3392,
 3462,
 3615,
 3616,
 3626,
 3662,
 3664,
 3732,
 3864,
 3885,
 3901,
 3920,
 4044,
 4057,
 4114,
 4126,
 4154,
 4170,
 4172,
 4174,
 4209,
 4240,
 4424,
 4727,
 4775,
 4863,
 4908,
 4934,
 5010,
 5079,
 5186,
 5190,
 5260,
 5383,
 5465,
 5500,
 5515,
 5520,
 5556,
 5615,
 5627,
 5668,
 5709,
 5711,
 5782,
 5833,
 5842,
 5990,
 5997,
 6190,
 6223,
 6285,
 6289,
 6341,
 6435,
 6501,
 6503,
 6758,
 6765,
 6768,
 6789,
 6808,
 6812]

In [82]:

pdb_df.df['ATOM'] = pdb_df.df['ATOM'][~pdb_df.df['ATOM'].atom_number.isin(df)]

In [83]:
pdb_df.df['ATOM']

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx,x_cord,y_cord,z_cord
0,ATOM,1,,N,,PRO,,,1,,...,1.0,0.0,,,N,NaN,0,71.0,9.0,37.0
1,ATOM,2,,CD,,PRO,,,1,,...,1.0,0.0,,,C,NaN,1,71.0,10.0,37.0
2,ATOM,3,,CG,,PRO,,,1,,...,1.0,0.0,,,C,NaN,2,71.0,11.0,36.0
3,ATOM,4,,CB,,PRO,,,1,,...,1.0,0.0,,,C,NaN,3,70.0,10.0,35.0
4,ATOM,5,,CA,,PRO,,,1,,...,1.0,0.0,,,C,NaN,4,70.0,9.0,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6805,ATOM,6807,,HA,,GLN,,,419,,...,1.0,0.0,,,H,NaN,6805,27.0,-36.0,17.0
6807,ATOM,6809,,HB3,,GLN,,,419,,...,1.0,0.0,,,H,NaN,6807,29.0,-35.0,19.0
6808,ATOM,6810,,HG2,,GLN,,,419,,...,1.0,0.0,,,H,NaN,6808,28.0,-34.0,20.0
6809,ATOM,6811,,HG3,,GLN,,,419,,...,1.0,0.0,,,H,NaN,6809,27.0,-35.0,20.0
6811,ATOM,6813,,HE22,,GLN,,,419,,...,1.0,0.0,,,H,NaN,6811,26.0,-31.0,19.0

In [84]:
df=list(pdb_df.df['ATOM'][pdb_df.df['ATOM'].duplicated(subset=['x_cord','y_cord','z_cord'], keep="first")].atom_number)

In [86]:
df

[]

In [58]:
df[df['element_symbol']=="H"]

,record_name,atom_number,blank_1,atom_name,alt_loc,residue_name,blank_2,chain_id,residue_number,insertion,...,occupancy,b_factor,blank_4,segment_id,element_symbol,charge,line_idx,x_cord,y_cord,z_cord
112,ATOM,113,,HH22,,ARG,,,6,,...,1.0,0.0,,,H,NaN,112,65.0,5.0,26.0
120,ATOM,121,,HA,,SER,,,7,,...,1.0,0.0,,,H,NaN,120,67.0,3.0,21.0
131,ATOM,132,,H,,VAL,,,8,,...,1.0,0.0,,,H,NaN,131,65.0,4.0,21.0
152,ATOM,153,,HD21,,ASN,,,9,,...,1.0,0.0,,,H,NaN,152,60.0,-3.0,24.0
164,ATOM,165,,HG,,SER,,,10,,...,1.0,0.0,,,H,NaN,164,61.0,2.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6763,ATOM,6765,,HE3,,LYS,,,416,,...,1.0,0.0,,,H,NaN,6763,38.0,-37.0,18.0
6766,ATOM,6768,,HZ3,,LYS,,,416,,...,1.0,0.0,,,H,NaN,6766,37.0,-37.0,16.0
6787,ATOM,6789,,HA,,GLN,,,418,,...,1.0,0.0,,,H,NaN,6787,27.0,-39.0,20.0
6806,ATOM,6808,,HB2,,GLN,,,419,,...,1.0,0.0,,,H,NaN,6806,29.0,-34.0,18.0
6810,ATOM,6812,,HE21,,GLN,,,419,,...,1.0,0.0,,,H,NaN,6810,27.0,-32.0,20.0

In [59]:
df.to_csv('see.csv')

In [85]:
print(list(i for i in pdb_df.df['ATOM'][pdb_df.df['ATOM'].duplicated(subset=['x_cord','y_cord','z_cord'], keep=False)].atom_name.str.contains('H') if i))

[]